.droparea {
    height: 60px;
  }
  
  .modal {
    background-color: #F4F5F7;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    width: 800px;
    outline: none;
    padding: 20px;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);;
  }
  
  .close-btn-ctn {
    display: flex;
  }
  
  .close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #031D2C;
    border: none;
    border-radius: 25px;
  }
  
  .close-btn:hover {
    background-color: #DCDCDC;
  }
  
  
  